@model List<Albumify.Web.Models.AlbumViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Spotify Authentication</h1>
        <p>
            <strong>Access Token:</strong> <code>@Model.AccessToken</code>
            <strong>Token Type:</strong> <code>@Model.TokenType</code>
            <strong>Expires In:</strong> <code>@Model.ExpiresIn</code>
        </p>
    </div>*@
@*<form asp-controller="Home" asp-action="Index" method="get">
    Artist: <input type="text" name="artist" />
    <input type="submit" value="Search" />
</form>*@
<form asp-controller="Artist" asp-action="Index" method="get">
    Artist: <input type="text" name="artistName" />
    <input type="submit" value="Search" />
</form>
<div class="container-fluid">
    <section>
        <div>
            <h1 dir="auto">Albums</h1>
        </div>
        <div class="container-fluid" style="padding:0">
            <div class="row">
                @foreach(var item in Model.Where(a => a.Type == "album"))
                {
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-2">
                    <div class="card" style="border: none;">
                        <responsive-images class="card-img-top" images="@item.Images" alt="@item.ImagesAltText"></responsive-images>
                        <div class="card-body">
                            <h6 class="card-title" style="text-align:center" dir="auto">@item.Name</h6>
                            <a class="stretched-link" asp-controller="Album" asp-action="Index" asp-route-id="@item.SpotifyId"></a>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </section>
    <section>
        <div>
            <h1 dir="auto">Singles and EPs</h1>
        </div>
        <div class="container-fluid" style="padding:0">
            <div class="row">
                @foreach (var item in Model.Where(a => a.Type == "single"))
                {
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-2">
                        <div class="card" style="border: none;">
                            <responsive-images class="card-img-top" images="@item.Images" alt="@item.ImagesAltText"></responsive-images>
                            <div class="card-body">
                                <h6 class="card-title" style="text-align:center" dir="auto">@item.Name</h6>
                                <a class="stretched-link" asp-controller="Album" asp-action="Index" asp-route-id="@item.SpotifyId"></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>
